{% extends "core/vistaCliente/baseCliente.html" %} {% load static %} {% block contenidoCliente %}
<style>
    /* Table styles. */
    
    td,
    th {
        text-align: left;
        padding: .5rem 1rem;
    }
    
    .pagination {
        padding: 1rem;
        margin-bottom: 1rem;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    
    #numbers {
        padding: 0;
        margin: 0 2rem;
        list-style-type: none;
        display: flex;
    }
    
    #numbers li a {
        color: #000;
        padding: .5rem 1rem;
        text-decoration: none;
        opacity: .7;
    }
    
    #numbers li a.active {
        opacity: 1;
        background: #ABD1B5;
        color: #333;
    }
</style>
<h2 class="text text-center">Agregue empleados a sus registros</h2>
<form method="POST" class="ml-3 mr-3 mb-3 mt-3">
    {% csrf_token %}
    <h3>Datos empleado</h3>
    <div class="row p-2">
        <div class="form-group col-4">
            <label>Nombre</label>
            <input type="text" class="form-control" id="nombreEmpleado" name="nombreEmpleado" placeholder="Nombre" required>
        </div>
        <div class="form-group col-4">
            <label>Apellido Parterno</label>
            <input type="text" class="form-control" id="apEmpleado" name="apEmpleado" placeholder="Apellido Parterno" required>
        </div>
        <div class="form-group col-4">
            <label>Apellido Materno</label>
            <input type="text" class="form-control" id="amEmpleado" name="amEmpleado" placeholder="Apellido Materno" required>
        </div>
        <div class="form-group col-2">
            <label>Rut</label>
            <input type="text" class="form-control" id="rutEmpleado" name="rutEmpleado" placeholder="Rut" required>
        </div>
        <div class="form-group col-md-2">
            <label>G&eacute;nero</label>
            <select class="form-control" id="genero" name="genero" required>
                <option value="0">Seleccione G&eacute;nero</option>
                <option value="1">Masculino</option>
                <option value="2" >Femenino</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label>Regi&oacute;n</label>
            <select class="form-control" id="regiones" name="regiones" required>
                <option value="" selected hidden>Seleccione Regi&oacute;n</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label>Comuna</label>
            <select class="form-control" id="comunas" name="comunas" required>
                <option value="" selected>Seleccione Comuna</option>
            </select>
        </div>
        <div class="d-flex justify-content-center mt-3">
            <button class="btn btnColor btn-block" id="btnInsertar" name="btnInsertar" type="submit">
                Ingresar Empleado
            </button>
        </div>
    </div>
</form>
<hr>
<h2 class="text text-center text-dark">Lista de Empleados de la empresa {{data.user_cred}}</h2>
{% if empleados|length == 0 %}
<h1 class="alert alert-danger">Usted no ha registrado empleados</h1>
{% else %}
<table class="table" id="table-empleados">
    <thead class="thead">
        <tr>
            <th scope="col">Rut</th>
            <th scope="col">Nombre</th>
            <th scope="col">G&eacute;nero</th>
            <th scope="col">Comuna</th>
            <th scope="col">Acci&oacute;n</th>
        </tr>
    </thead>
    <tbody>
        {% for x in empleados %}
        <tr>
            <td hidden>{{x.ID}}</td>
            <td>{{x.RUT}}</td>
            <td>{{x.NOMBRE}} {{x.AP}} {{x.AM}}</td>
            <td>{{x.GENERO}}</td>
            <td>{{x.COMUNA}}</td>
            <td><a class="btn btnColor btn-block" id="btnModi" data-toggle="modal" data-target="#modificarEmpleado{{x.ID}}" onclick="GetRegiones({{x.ID}});" name="btnModi">Modificar</a></td>
            <!-- Modal Solicitar Visita -->
            <div class="modal fade" id="modificarEmpleado{{x.ID}}" data-keyboard="false" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Modificar Empleado</h5>
                        </div>
                        <form method="POST" class="ml-3 mr-3 mb-3 mt-3">
                            {% csrf_token %}
                            <h3>Datos empleado</h3>
                            <div class="row p-2">
                                <div class="form-group col-4">
                                    <label>Nombre</label>
                                    <input type="text" class="form-control" id="nombreEmpleado" name="nombreEmpleado" value="{{x.NOMBRE}}" placeholder="Nombre" required>
                                </div>
                                <div class="form-group col-4">
                                    <label>Apellido Parterno</label>
                                    <input type="text" class="form-control" id="apEmpleado" name="apEmpleado" value="{{x.AP}}" placeholder="Apellido Parterno" required>
                                </div>
                                <div class="form-group col-4">
                                    <label>Apellido Materno</label>
                                    <input type="text" class="form-control" id="amEmpleado" name="amEmpleado" value="{{x.AM}}" placeholder="Apellido Materno" required>
                                </div>
                                <div class="form-group col-2">
                                    <label>Rut</label>
                                    <input type="text" class="form-control" id="rutEmpleado" name="rutEmpleado" placeholder="Rut" value="{{x.RUT}}" required>
                                </div>
                                <div class="form-group col-md-2">
                                    <label>G&eacute;nero</label>
                                    <select class="form-control" id="genero" name="genero" required>
                    <option value="0">Seleccione G&eacute;nero</option>
                    <option value="1">Masculino</option>
                    <option value="2" >Femenino</option>
                </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Regi&oacute;n</label>
                                    <select class="form-control" id="regiones{{x.ID}}" onclick=" GetComunasModal({{x.ID}});" name="regiones1" required>
                    <option value="" selected hidden>Seleccione Region</option>
                </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Comuna</label>
                                    <select class="form-control" id="comunas{{x.ID}}" name="comunas" required>
                    <option value="" selected>Seleccione Comuna</option>
                </select>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn bntColor text text-dark border btn-outline-danger" data-dismiss="modal">Cerrar</button>
                                    <button class="btn btnColor" id="btnRealizarSolicitud" name="btnRealizarSolicitud" type="submit">Realizar Solicitud</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </tr>

        {% endfor %}
    </tbody>
</table>
<nav>
    <ul class="pagination ">
        <a id="numbers"></a>
    </ul>
</nav>


{% endif %} {% endblock contenidoCliente %}