{% extends "core/vistaCliente/baseCliente.html" %} {% load static %} {% block contenidoCliente %}
<style>
    /* Table styles. */
    
    td,
    th {
        text-align: left;
        padding: .5rem 1rem;
    }
    
    .pagination {
        padding: 1rem;
        margin-bottom: 1rem;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    
    #numbers {
        padding: 0;
        margin: 0 2rem;
        list-style-type: none;
        display: flex;
    }
    
    #numbers li a {
        color: #000;
        padding: .5rem 1rem;
        text-decoration: none;
        opacity: .7;
    }
    
    #numbers li a.active {
        opacity: 1;
        background: #ABD1B5;
        color: #333;
    }
</style>
<h2 class="text text-center">Agregue empleados a sus registros</h2>
<form method="POST" class="ml-3 mr-3 mb-3 mt-3" onsubmit="return validacionAddAsistente()">
    {% csrf_token %}
    <h3>Datos empleado</h3>
    <div class="row p-2">
        <div class="form-group col-4">
            <label>Nombre</label>
            <input type="text" class="form-control" id="nombreEmpleado" name="nombreEmpleado" placeholder="Nombre">
        </div>
        <div class="form-group col-4">
            <label>Apellido Parterno</label>
            <input type="text" class="form-control" id="apEmpleado" name="apEmpleado" placeholder="Apellido Parterno">
        </div>
        <div class="form-group col-4">
            <label>Apellido Materno</label>
            <input type="text" class="form-control" id="amEmpleado" name="amEmpleado" placeholder="Apellido Materno">
        </div>
        <div class="form-group col-2">
            <label>Rut</label>
            <input type="text" class="form-control" id="rutEmpleado" name="rutEmpleado" placeholder="Rut">
        </div>
        <div class="form-group col-md-2">
            <label>G&eacute;nero</label>
            <select class="form-control" id="genero" name="genero">
                <option value="">Seleccione G&eacute;nero</option>
                <option value="1">Masculino</option>
                <option value="2" >Femenino</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label>Regi&oacute;n</label>
            <select class="form-control" id="regiones" name="regiones">
                <option value="" selected hidden>Seleccione Regi&oacute;n</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label>Comuna</label>
            <select class="form-control" id="comunas" name="comunas">
                <option value="" selected>Seleccione Comuna</option>
            </select>
        </div>
        <div class="d-flex justify-content-center mt-3">
            <button class="btn btnColor btn-block" id="btnInsertar" name="btnInsertar" type="submit">
                Ingresar Empleado
            </button>
        </div>
    </div>
</form>
<hr>
<h2 class="text text-center text-dark">Lista de Empleados de la empresa {{data.user_cred}}</h2>
{% if empleados|length == 0 %}
<h1 class="alert alert-danger">Usted no ha registrado empleados</h1>
{% else %}
<table class="table" id="table-empleados">
    <thead class="thead">
        <tr>
            <th scope="col">Rut</th>
            <th scope="col">Nombre</th>
            <th scope="col">G&eacute;nero</th>
            <th scope="col">Comuna</th>
            <th scope="col">Acci&oacute;n</th>
        </tr>
    </thead>
    <tbody>
        {% for x in empleados %}
        <tr>
            <td hidden>{{x.ID}}</td>
            <td>{{x.RUT}}</td>
            <td>{{x.NOMBRE}} {{x.AP}} {{x.AM}}</td>
            <td>{{x.GENERO}}</td>
            <td>{{x.COMUNA}}</td>
            <td>
                <a class="btn btnColor btn-block" id="btnModi" data-toggle="modal" data-target="#modificarEmpleado{{x.ID}}" onclick="GetRegiones(`{{x.ID}}`);" name="btnModi">Modificar</a>
            </td>
            <div class="modal fade" id="modificarEmpleado{{x.ID}}" data-backdrop="static" data-keyboard="false" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Modificar Empleado</h5>
                        </div>
                        <form method="POST" class="ml-3 mr-3 mb-3 mt-3" onsubmit="return validacionModAsistente();">
                            {% csrf_token %}
                            <h3>Datos empleado</h3>
                            <input id="IDEMPLEADO" name="IDEMPLEADO" hidden value="{{x.ID}}">
                            <div class="row p-2">
                                <div class="form-group col-4">
                                    <label>Nombre</label>
                                    <input type="text" class="form-control" id="nombreEmpleado1" name="nombreEmpleado1" value="{{x.NOMBRE}}" placeholder="Nombre">
                                </div>
                                <div class="form-group col-4">
                                    <label>Apellido Parterno</label>
                                    <input type="text" class="form-control" id="apEmpleado1" name="apEmpleado1" value="{{x.AP}}" placeholder="Apellido Parterno">
                                </div>
                                <div class="form-group col-4">
                                    <label>Apellido Materno</label>
                                    <input type="text" class="form-control" id="amEmpleado1" name="amEmpleado1" value="{{x.AM}}" placeholder="Apellido Materno">
                                </div>
                                <div class="form-group col-2">
                                    <label>Rut</label>
                                    <input type="text" class="form-control" id="rutEmpleado1" name="rutEmpleado1" placeholder="Rut" value="{{x.RUT}}">
                                </div>
                                <div class="form-group col-md-2">
                                    <label>G&eacute;nero</label>
                                    <select class="form-control" id="genero1" name="genero1">
                    <option value="">Seleccione G&eacute;nero</option>
                    <option value="1">Masculino</option>
                    <option value="2" >Femenino</option>
                </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Regi&oacute;n</label>
                                    <select class="form-control" id="regiones{{x.ID}}" onchange="ComunasById(`{{x.ID}}`); " name="regiones1">
                    <option value="" hidden>Seleccione Region</option>
                </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Comuna</label>
                                    <select class="form-control" id="comunas{{x.ID}}" name="comunasId1">
                    <option value="" selected>Seleccione Comuna</option>
                </select>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn bntColor text text-dark border btn-outline-danger" onclick="deleteRegionesById(`{{x.ID}}`);" data-dismiss="modal">Cerrar</button>
                                    <button class="btn btnColor" id="modificarEmpleado{{x.ID}}" name="modificarEmpleado" type="submit" onclick="recarga()">Realizar Solicitud</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </tr>

        {% endfor %}
    </tbody>
</table>
<nav>
    <ul class="pagination ">
        <a id="numbers"></a>
    </ul>
</nav>

<script src="{% static 'core/js/jquery.min.js'%}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
    function validacionAddAsistente() {
        /* ---------------------------------------------------------- */
        nombreEmpleado = document.getElementById("nombreEmpleado").value;

        if (nombreEmpleado == null || nombreEmpleado.length == 0 || /^\s+$/.test(nombreEmpleado) || nombreEmpleado.length > 50) {
            Swal.fire({
                icon: 'warning',
                title: 'Oops...',
                text: 'Nombre no puede estar vacío ni superar los 50 caracteres.',
                showConfirmButton: false,
                timer: 3000
            });
            return false;
        }
        /* ------------------------------------------------------------ */
        apEmpleado = document.getElementById("apEmpleado").value;

        if (apEmpleado == null || apEmpleado.length == 0 || /^\s+$/.test(apEmpleado) || apEmpleado.length > 50) {
            Swal.fire({
                icon: 'warning',
                title: 'Oops...',
                text: 'Apellido Paterno no puede estar vacío ni superar los 50 caracteres.',
                showConfirmButton: false,
                timer: 3000
            });
            return false;
        }
        /* ------------------------------------------------------------ */
        amEmpleado = document.getElementById("amEmpleado").value;

        if (amEmpleado == null || amEmpleado.length == 0 || /^\s+$/.test(amEmpleado) || amEmpleado.length > 50) {
            Swal.fire({
                icon: 'warning',
                title: 'Oops...',
                text: 'Apellido Materno no puede estar vacío ni superar los 50 caracteres.',
                showConfirmButton: false,
                timer: 3000
            });
            return false;
        }
        /* ------------------------------------------------------------ */
        rutEmpleado = $('#rutEmpleado').val();
        if (!rutValid(rutEmpleado)) {
            Swal.fire({
                icon: 'warning',
                title: 'Oops...',
                text: 'Rut debe tener formato 12345678-K',
                showConfirmButton: false,
                timer: 3000
            });
            return false;
        }

        const validaRutAsistente = (id) => {
            var cero = 0;
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                type: "GET",
                url: `http://127.0.0.1:8000/API/RUTASISTENTE/${id}`,
                dataType: 'json',
                async: false,
                success: function(res) {
                    var resultado = parseInt(res[0].RESULTADO);
                    if (resultado > 0) {
                        cero = 1;
                    } else {
                        cero = 0;
                    }
                },
                error: function(err) {
                    alert('error');
                }
            });
            return cero;
        };
        var rs = validaRutAsistente(rutEmpleado);
        if (rs == 1) {
            Swal.fire({
                icon: 'error',
                title: 'Rut ya registrado',
                text: `El rut ${rutEmpleado} ya se encuentra registrado en el sistema.`,
                showConfirmButton: false,
                timer: 3000
            });
            return false;
        }

        /* ------------------------------------------------------------ */
        comunas = document.getElementById("comunas").value;

        if (comunas == null || comunas.length == 0 || /^[0-9]\d$/.test(comunas) || comunas.length > 12) {
            Swal.fire({
                icon: 'warning',
                title: 'Oops...',
                text: 'Comuna no puede estar vacía.',
                showConfirmButton: false,
                timer: 3000
            });
            return false;
        }
        /* ------------------------------------------------------------ */
        genero = document.getElementById("genero").value;

        if (genero == null || genero.length == 0 || /^[0-9]\d$/.test(genero) || genero.length > 12) {
            Swal.fire({
                icon: 'warning',
                title: 'Oops...',
                text: 'Genero no puede estar vacío.',
                showConfirmButton: false,
                timer: 3000
            });
            return false;
        }
    };
    /* *************************************************************************************************************** */
    function validacionModAsistente() {
        /* ------------------------------------------------------------ */
        idemp = document.getElementById("IDEMPLEADO").value;
        /* ---------------------------------------------------------- */
        nombreEmpleado1 = document.getElementById("nombreEmpleado1").value;

        if (nombreEmpleado1 == null || nombreEmpleado1.length == 0 || /^\s+$/.test(nombreEmpleado1) || nombreEmpleado1.length > 50) {
            Swal.fire({
                icon: 'warning',
                title: 'Oops...',
                text: 'Nombre no puede estar vacío ni superar los 50 caracteres.',
                showConfirmButton: false,
                timer: 3000
            });
            return false;
        }
        /* ------------------------------------------------------------ */
        apEmpleado1 = document.getElementById("apEmpleado1").value;

        if (apEmpleado1 == null || apEmpleado1.length == 0 || /^\s+$/.test(apEmpleado1) || apEmpleado1.length > 50) {
            Swal.fire({
                icon: 'warning',
                title: 'Oops...',
                text: 'Apellido Paterno no puede estar vacío ni superar los 50 caracteres.',
                showConfirmButton: false,
                timer: 3000
            });
            return false;
        }
        /* ------------------------------------------------------------ */
        amEmpleado1 = document.getElementById("amEmpleado1").value;

        if (amEmpleado1 == null || amEmpleado1.length == 0 || /^\s+$/.test(amEmpleado1) || amEmpleado1.length > 50) {
            Swal.fire({
                icon: 'warning',
                title: 'Oops...',
                text: 'Apellido Materno no puede estar vacío ni superar los 50 caracteres.',
                showConfirmButton: false,
                timer: 3000
            });
            return false;
        }
        /* ------------------------------------------------------------ */
        rutEmpleado1 = $('#rutEmpleado1').val();
        if (!rutValid(rutEmpleado1)) {
            Swal.fire({
                icon: 'warning',
                title: 'Oops...',
                text: 'Rut debe tener formato 12345678-K',
                showConfirmButton: false,
                timer: 3000
            });
            return false;
        }
        /* ------------------------------------------------------------ */

        comunas1 = document.getElementById("comunas" + idemp).value;

        if (comunas1 == null || comunas1.length == 0 || /^[0-9]\d$/.test(comunas1) || comunas1.length > 12) {
            Swal.fire({
                icon: 'warning',
                title: 'Oops...',
                text: 'Comuna no puede estar vacía.',
                showConfirmButton: false,
                timer: 3000
            });
            return false;
        }
        /* ------------------------------------------------------------ */
        genero1 = document.getElementById("genero1").value;

        if (genero1 == null || genero1.length == 0 || /^[0-9]\d$/.test(genero1) || genero1.length > 12) {
            Swal.fire({
                icon: 'warning',
                title: 'Oops...',
                text: 'Genero no puede estar vacío.',
                showConfirmButton: false,
                timer: 3000
            });
            return false;
        }
    };
</script>

{% endif %} {% endblock contenidoCliente %}