<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>No+Accidentes</title>
    <link rel="stylesheet" href="{% static 'core/css/estilo.css'%}">
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css'%}">
    <link rel="shortcut icon" href="{% static 'core/images/favicon.ico' %}">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://kit.fontawesome.com/42436ff39b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'core/css/select2.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">

    <style>
        .bodyColor {
            color: #000 !important;
            background-color: #EDF4ED !important
        }
        
        .navColor {
            color: #FFF !important;
            background-color: #79B791 !important
        }
        
        .btnColor {
            color: #000 !important;
            background-color: #ABD1B5 !important
        }
    </style>

</head>

<body class="bodyColor">
    <nav class="navbar navbar-expand-lg navbar-dark navColor container-fluid">
        <a class="navbar-brand text text-dark" href="{% url 'inicioCliente' %}">Bienvenido {{data.user_cred}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <a class="nav-link btn btnColor ml-2" {% ifequal request.path '/inicioCliente' %} style="display:none" {% endifequal %} href="{% url 'inicioCliente' %}">Inicio</a>
            <a class="nav-link btn btnColor ml-2" {% ifnotequal request.path '/inicioCliente' %} style="display:none" {% endifnotequal %} data-toggle="modal" data-target="#solicitarVisita">Solicitar Visita</a>
            <a class="nav-link btn btnColor ml-2" data-toggle="modal" href="{% url 'solicitarCapacitacion' %}">Solicitar Capacitaci&oacute;n</a>
            <a class="nav-link btn btnColor ml-2" {% ifnotequal request.path '/inicioCliente' %} style="display:none" {% endifnotequal %} data-toggle="modal" data-target="#solicitarAsesoria">Solicitar Asesoria</a>
            <a class="nav-link btn btnColor ml-2" {% ifnotequal request.path '/inicioCliente' %} style="display:none" {% endifnotequal %} data-toggle="modal" data-target="#modificarChecklist">Modificar CheckList</a>
            <a class="nav-link btn btnColor ml-2" href="{% url 'modificarDatos' %}">Modificar Datos</a>
            <a class="nav-link btn btnColor ml-2" href="{% url 'addAsistente' %}">Mantenedor Empleados</a>
            <div class="navbar-nav ml-auto ">
                <a class="nav-link float-right btn bntColor text text-dark border btn-outline-danger ml-2" type="submit" href="{% url 'mataSesion' %}" name="cerrar_session">Cerrar Sesion</a>
            </div>
        </div>
    </nav>
    <div class="container rounded shadow-lg bg-white text text-dark mt-5 p-3">

        <!-- Modal Solicitar Visita -->
        <div class="modal fade" id="solicitarVisita" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Solicitar Visita en Terreno</h5>
                    </div>
                    <form method="POST" onsubmit="return validacionVisita()">
                        {% csrf_token %}
                        <div class="modal-body">
                            <label>Fecha de Visita</label>
                            <input type="date" name="fechaVisita" id="fechaVisita">
                            <label>Hora de Visita</label>
                            <input type="time" name="horaVisita" id="horaVisita">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn bntColor text text-dark border btn-outline-danger" data-dismiss="modal">Cerrar</button>
                            <button class="btn btnColor" id="btnRealizarSolicitud" name="btnRealizarSolicitud" type="submit">Realizar Solicitud</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <!-- Modal Solicitar Asesoria -->
        <div class="modal fade" id="solicitarAsesoria" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Solicitar Asesoria</h5>
                    </div>
                    <form method="POST" onsubmit="return validacionAsesoria()">
                        {% csrf_token %}
                        <div class="modal-body">
                            <label>Motivo Asesoria</label>
                            <select class="form-control" id="servicios" name="servicios">
                                <option value="" selected>Seleccione Servicio</option>
                            </select>
                            <label>Fecha de Asesoria</label>
                            <input type="date" name="fechaAsesoria" id="fechaAsesoria">
                            <label>Hora de Asesoria</label>
                            <input type="time" name="horaAsesoria" id="horaAsesoria">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn bntColor text text-dark border btn-outline-danger" data-dismiss="modal">Cerrar</button>
                            <button class="btn btnColor" id="btnRealizarAsesoria" name="btnRealizarAsesoria" type="submit">Realizar Solicitud</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <!-- Modal Modificar Checklist -->
        <div class="modal fade" id="modificarChecklist" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Modificaci&oacute;n de Checklist</h5>
                    </div>
                    <form method="POST" onsubmit="return validacionCheckList()">
                        {% csrf_token %}
                        <div class="modal-body">
                            <label>Fecha de Modificaci&oacute;n</label>
                            <input type="date" name="fechaModificacion" id="fechaModificacion">
                            <label>Hora de Modificaci&oacute;n</label>
                            <input type="time" name="horaModificacion" id="horaModificacion">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn bntColor text text-dark border btn-outline-danger" data-dismiss="modal">Cerrar</button>
                            <button class="btn btnColor" id="btnRealizarModificacion" name="btnRealizarModificacion" type="submit">Realizar Modificaci&oacute;n</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {% block contenidoCliente %} {% endblock contenidoCliente %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="{% static 'core/js/jquery.min.js'%}"></script>
    <script src="{% static 'core/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'core/js/regionesycomunas.js'%}"></script>
    <script src="{% static 'core/js/select2.full.min.js'%}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="{% static 'core/js/popper.min.js'%}"></script>


</body>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
{% if messages %} {% for m in messages %}
<script>
    Swal.fire({
        icon: 'success',
        title: 'Éxito',
        text: '{{m}}',
        showConfirmButton: false,
        timer: 1500
    });
</script>
{% endfor %} {% endif %}

<script>
    function validacionVisita() {
        /* ---------------------------------------------------------- */
        fechaVisita = document.getElementById("fechaVisita").value;
        var x = new Date();
        diaActual = x.getDate();
        diaBuscado = diaActual + 1
        x.setDate(diaBuscado)
        x = x.toISOString().slice(0, 10);

        if (fechaVisita == null || fechaVisita.length == 0 || /^\s+$/.test(fechaVisita) || fechaVisita.length > 50) {
            Swal.fire({
                icon: 'warning',
                title: 'Oops...',
                text: 'Fecha de visita no puede estar vacío',
                showConfirmButton: false,
                timer: 1500
            });
            return false;
        } else if (x > fechaVisita) {
            Swal.fire({
                icon: 'warning',
                title: 'Oops...',
                text: 'Fecha de visita debe ser en 1 dia más al actual',
                showConfirmButton: false,
                timer: 1500
            });
            return false;
        }

        /* ---------------------------------------------------------- */
        horaVisita = document.getElementById("horaVisita").value;
        horaVisita1 = horaVisita.toString().substr(0, 2)
        horaVisita1 = parseInt(horaVisita1);
        if (horaVisita == null || horaVisita.length == 0 || /^\s+$/.test(horaVisita) || horaVisita.length > 50) {
            Swal.fire({
                icon: 'warning',
                title: 'Oops...',
                text: 'Hora de visita no puede estar vacío',
                showConfirmButton: false,
                timer: 1500
            });
            return false;
        } else if (horaVisita1 <= 07 || horaVisita1 >= 19) {
            Swal.fire({
                icon: 'warning',
                title: 'Oops...',
                text: 'Hora de visita debe ser entre las 8:00 y las 18:00',
                showConfirmButton: false,
                timer: 1500
            });
            return false;
        }
    }


    /* ------------------------------------------------------------------------------------------------------------------------------------ */

    function validacionAsesoria() {

        /* ---------------------------------------------------------- */


        servicios = document.getElementById("servicios").value;

        if (servicios == null || servicios.length == 0 || /^[0-9]\d$/.test(servicios) || servicios.length > 12) {
            Swal.fire({
                icon: 'warning',
                title: 'Oops...',
                text: 'Servicios no puede estar vacía.',
                showConfirmButton: false,
                timer: 1500
            });
            return false;
        }

        /* ---------------------------------------------------------- */
        fechaAsesoria = document.getElementById("fechaAsesoria").value;
        var x = new Date();
        diaActual = x.getDate();
        diaBuscado = diaActual + 1
        x.setDate(diaBuscado)
        x = x.toISOString().slice(0, 10);

        if (fechaAsesoria == null || fechaAsesoria.length == 0 || /^\s+$/.test(fechaAsesoria) || fechaAsesoria.length > 50) {
            Swal.fire({
                icon: 'warning',
                title: 'Oops...',
                text: 'Fecha de asesoria no puede estar vacío',
                showConfirmButton: false,
                timer: 1500
            });
            return false;
        } else if (x > fechaAsesoria) {
            Swal.fire({
                icon: 'warning',
                title: 'Oops...',
                text: 'Fecha de asesoria debe ser en 1 dia más al actual',
                showConfirmButton: false,
                timer: 1500
            });
            return false;
        }

        /* ---------------------------------------------------------- */
        horaAsesoria = document.getElementById("horaAsesoria").value;
        horaAsesoria1 = horaAsesoria.toString().substr(0, 2)
        horaAsesoria1 = parseInt(horaAsesoria1);
        if (horaAsesoria == null || horaAsesoria.length == 0 || /^\s+$/.test(horaAsesoria) || horaAsesoria.length > 50) {
            Swal.fire({
                icon: 'warning',
                title: 'Oops...',
                text: 'Hora de asesoria no puede estar vacío',
                showConfirmButton: false,
                timer: 1500
            });
            return false;
        } else if (horaAsesoria1 <= 07 || horaAsesoria1 >= 19) {
            Swal.fire({
                icon: 'warning',
                title: 'Oops...',
                text: 'Hora de asesoria debe ser entre las 8:00 y las 18:00',
                showConfirmButton: false,
                timer: 1500
            });
            return false;
        }
    }


    /* ------------------------------------------------------------------------------------------------------------------------------------ */


    function validacionCheckList() {


        /* ---------------------------------------------------------- */
        fechaModificacion = document.getElementById("fechaModificacion").value;
        var x = new Date();
        diaActual = x.getDate();
        diaBuscado = diaActual + 1
        x.setDate(diaBuscado)
        x = x.toISOString().slice(0, 10);

        if (fechaModificacion == null || fechaModificacion.length == 0 || /^\s+$/.test(fechaModificacion) || fechaModificacion.length > 50) {
            Swal.fire({
                icon: 'warning',
                title: 'Oops...',
                text: 'Fecha de Modificación no puede estar vacío',
                showConfirmButton: false,
                timer: 1500
            });
            return false;
        } else if (x > fechaModificacion) {
            Swal.fire({
                icon: 'warning',
                title: 'Oops...',
                text: 'Fecha de Modificación debe ser en 1 dia más al actual',
                showConfirmButton: false,
                timer: 1500
            });
            return false;
        }

        /* ---------------------------------------------------------- */
        horaModificacion = document.getElementById("horaModificacion").value;
        horaModificacion1 = horaModificacion.toString().substr(0, 2)
        horaModificacion1 = parseInt(horaModificacion1);
        if (horaModificacion == null || horaModificacion.length == 0 || /^\s+$/.test(horaModificacion) || horaModificacion.length > 50) {
            Swal.fire({
                icon: 'warning',
                title: 'Oops...',
                text: 'Hora de Modificación no puede estar vacío',
                showConfirmButton: false,
                timer: 1500
            });
            return false;
        } else if (horaModificacion1 <= 07 || horaModificacion1 >= 19) {
            Swal.fire({
                icon: 'warning',
                title: 'Oops...',
                text: 'Hora de Modificación debe ser entre las 8:00 y las 18:00',
                showConfirmButton: false,
                timer: 1500
            });
            return false;
        }
    }
</script>

</html>