{% extends "core/vistaCliente/baseCliente.html" %} {% load static %} {% block contenidoCliente %}
<h1 class="text text-center">Actividades</h1>
<h1>{{actividad.NOMBRE}}</h1>
{% if actividad|length == 0 %}
<h1 class="alert alert-danger">Usted no ha registrado actividades</h1>
{% else %}
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Actividad</th>
            <th scope="col">Fecha</th>
            <th scope="col">Profesional</th>
            <th scope="col">Estado</th>
        </tr>
    </thead>
    <tbody>
        {% for x in actividad %}
        <tr>
            <td>{{x.NOMBRE}}</td>
            <td>{{x.FECHA}}</td>
            <td>{{x.PROFESIONAL}}</td>
            <td>{{x.DESCRIPCION}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %} {% endblock contenidoCliente %}