<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>No+Accidentes</title>
    <link rel="stylesheet" href="{% static 'core/css/estilo.css'%}">
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css'%}">
    <link rel="shortcut icon" href="{% static 'core/images/favicon.ico' %}" />
</head>

<body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark container-fluid">
        <a class="navbar-brand  {% if nbarCliente == 'inicioCliente' %}active{% endif %}" href="{% url 'inicioCliente' %}">Interfaz Cliente</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <a class="nav-link btn btn-secondary ml-2 {% if nbarCliente == 'solicitarVisita' %}active{% endif %}" href="{% url 'solicitarVisita' %}">Solicitar Visita</a>
            <a class="nav-link btn btn-secondary ml-2 {% if nbarCliente == 'home' %}active{% endif %}" href="#">Solicitar Capacitacion</a>
            <a class="nav-link btn btn-secondary ml-2 {% if nbarCliente == 'home' %}active{% endif %}" href="#">Solicitar Asesoria</a>
            <a class="nav-link btn btn-secondary ml-2 {% if nbarCliente == 'home' %}active{% endif %}" href="#">Modificar CheckList</a>
            <a class="nav-link btn btn-secondary ml-2 {% if nbarCliente == 'home' %}active{% endif %}" href="#">Modificar Datos</a>
            <a class="nav-link btn btn-secondary ml-2 {% if nbarCliente == 'home' %}active{% endif %}" href="#">Modificar Mis Datos</a>

            <div class="navbar-nav ml-auto ">
                <a class="nav-link float-right btn btn-danger ml-2 {% if nbar == 'home' %}active{% endif %}" type="submit" href="{% url 'mataSesion' %}" name="cerrar_session">Cerrar Sesion</a>
            </div>
        </div>
    </nav>
    <div class="container shadow bg-white mt-5 p-3">
        <h1 class="text text-center">{{data.user_cred}}</h1>

        {% block contenidoCliente %} {% endblock contenidoCliente %}
    </div>
    <script src="{% static 'core/js/jquery.min.js'%}"></script>
    <script src="{% static 'core/js/popper.min.js'%}"></script>
    <script src="{% static 'core/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'core/js/regionesycomunas.js'%}"></script>
</body>

</html>