{% extends "core/vistaCliente/baseCliente.html" %} {% load static %} {% block contenidoCliente %}
<h1 class="text text-center">Actividades</h1>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Actividad</th>
            <th scope="col">Fecha</th>
            <th scope="col">Profesional</th>
            <th scope="col">Observacion</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Alguna actividad</td>
            <td>22-09-2020</td>
            <td>Juanito Perez</td>
            <td>Si lo hizo xd</td>
        </tr>
    </tbody>
</table>



{% endblock contenidoCliente %}