{% extends "core/vistaCliente/baseCliente.html" %} {% load static %} {% block contenidoCliente %}
<h1>{{msj}}</h1>
<h1 class="text text-center">Modificar Datos</h1>
<br>
<br>
<div class="row">
    <div class="col container border border-black">
        <form method="POST" class="ml-3 mr-3 mb-3 mt-3" onsubmit="return validacion()">
            {% csrf_token %}
            <h3>Datos empresa</h3>
            <div class="row p-2 container">
                {% for x in ClienteEmpresa %}
                <div class="form-group col-8">
                    <label>Nombre Empresa</label>
                    <input type="text" class="form-control" name="nombreEmpresa" id="nombreEmpresa" placeholder="Nombre Empresa" value="{{x.NOMBRE_EMPRESA}}">
                </div>
                <div class="form-group col-4">
                    <label for="inputRegistro">RUT Empresa</label>
                    <input type="text" class="form-control" name="rutEmpresa" id="rutEmpresa" placeholder="RUT Empresa" value="{{x.RUT_EMPRESA}}">
                </div>

                <div class="form-group col-md-8">
                    <label>Direccion</label>
                    <input type="text" class="form-control" name="direccion" id="direccion" placeholder="Direccion Empresa" value="{{x.DIRECCION}}">
                </div>
                <div class="form-group col-md-4">
                    <label>Celular</label>
                    <input type="text" class="form-control" name="celulari" id="celulari" placeholder="Celular Empresa" value="{{x.TELEFONO}}">
                </div>
                <div class="form-group col-md-6">
                    <label>Regi&oacute;n</label>
                    <select class="form-control" id="regiones" name="regiones">
                        <option value="" selected hidden>Seleccione Regi&oacute;n</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label>Comuna</label>
                    <select class="form-control" id="comunas" name="comunas">
                        <option value="" selected>Seleccione Comuna</option>
                    </select>
                </div>
                <div class="form-group col-md-12">
                    <label>Correo Electrónico</label>
                    <input type="text" class="form-control" name="correo" id="correo" placeholder="Correo Electrónico" value="{{x.MAIL_EMPRESA}}">
                </div>

            </div>
            {% endfor %}
            <div class="d-flex justify-content-center mt-3">
                <button class="btn btnColor btn-block" type="submit">
                    Realizar Modificación
                </button>
            </div>
        </form>
    </div>
</div>
<script src="{% static 'core/js/jquery.min.js'%}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>


<script>
    function validacion() {
        /* ---------------------------------------------------------- */
        nombreEmpresa = document.getElementById("nombreEmpresa").value;

        if (nombreEmpresa == null || nombreEmpresa.length == 0 || /^\s+$/.test(nombreEmpresa) || nombreEmpresa.length > 50) {
            Swal.fire({
                icon: 'warning',
                title: 'Oops...',
                text: 'Nombre no puede estar vacío ni superar los 50 caracteres.',
                showConfirmButton: false,
                timer: 1500
            });
            return false;
        }

        /* ---------------------------------------------------------- */
        rutCompleto = $('#rutEmpresa').val();

        if (!rutValid(rutCompleto)) {
            Swal.fire({
                icon: 'warning',
                title: 'Oops...',
                text: 'Rut debe tener formato 12345678-K',
                showConfirmButton: false,
                timer: 1500
            });
            return false;
        }

        /* ---------------------------------------------------------- */
        direccion = document.getElementById("direccion").value;

        if (direccion == null || direccion.length == 0 || /^\s+$/.test(direccion) || direccion.length > 50) {
            Swal.fire({
                icon: 'warning',
                title: 'Oops...',
                text: 'Dirección no puede estar vacío ni superar los 50 caracteres.',
                showConfirmButton: false,
                timer: 1500
            });
            return false;
        }

        /* ---------------------------------------------------------- */
        telefono = document.getElementById("celulari").value;

        if (telefono == null || telefono.length == 0 || /^[0-9]\d$/.test(telefono) || telefono.length > 11 || telefono.length < 8) {
            Swal.fire({
                icon: 'warning',
                title: 'Oops...',
                text: 'Teléfono no puede estar vacío y tener 9 caracteres',
                showConfirmButton: false,
                timer: 1500
            });
            return false;
        }

        /* ---------------------------------------------------------- */
        correo = document.getElementById("correo").value;

        if (correo == null || correo.length == 0 || /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3,4})+$/.test(correo) || correo.length > 80) {
            Swal.fire({
                icon: 'warning',
                title: 'Oops...',
                text: 'Dirección de correo electrónico no puede estar vacío ni superar los 80 caracteres.',
                showConfirmButton: false,
                timer: 1500
            });
            return false;
        }

        /* ---------------------------------------------------------- */
        comunas = document.getElementById("comunas").value;

        if (comunas == null || comunas.length == 0 || /^[0-9]\d$/.test(comunas) || comunas.length > 12) {
            Swal.fire({
                icon: 'warning',
                title: 'Oops...',
                text: 'Comuna no puede estar vacía.',
                showConfirmButton: false,
                timer: 1500
            });
            return false;
        }


    };
</script>
{% endblock contenidoCliente %}