{% extends "core/vistaCliente/baseCliente.html" %} {% load static %} {% block contenidoCliente %}
<h2><span class="badge navColor">Ingrese la fecha de la capacitaci&oacute;n</span></h2>
<input hidden value="{{data.id_cliente}}" id="idCliente"></input>
<div>
    <label>Fecha de Capacitaci&oacute;n</label>
    <input type="date" name="fechaCapacitacion" id="fechaCapacitacion">
</div>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">RUT ASISTENTE</th>
            <th scope="col">ACCIONES</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <select class="form-control asistentes text text-dark" id="asistentes" name="asistentes">
                    <option value="">Seleccione Asistente</option>
                </select>
            </td>
            <td>
                <button class="btn btnColor" onclick="validador()">Agregar</button>
            </td>
        </tr>
    </tbody>
</table>
<table class="table" id="listAsistentes">
    <thead class="thead-dark">
        <tr>
            <th scope="col" style="display:none">ID ASISTENTE</th>
            <th scope="col">DATOS ASISTENTE</th>
            <th scope="col">ACCIONES</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>

<div class="d-flex justify-content-center mt-3">
    <button class="btn btnColor btn-block" id="guardarCapa" type="submit">
        Guardar Capacitacion
    </button>
</div>
{% endblock contenidoCliente %}