{% extends "core/base.html" %} {% load static %} {% block contenido %}

<div class="">
    <h1>Autenticacion</h1>
    <div class="row">
        <div class="col border border-black">
            <form method="POST" class="ml-3 mr-3 mb-3 mt-3">
                {% csrf_token %}
                <h3>Bienvenido</h3>
                <div class="row">
                    <div class="col-md-6 mt-3">
                        <label>Usuario</label>
                        <input type="text" class="form-control" name="TXT_CRED" id="user" placeholder="Usuario">
                    </div>
                    <div class="col-md-6 mt-3">
                        <label>Clave</label>
                        <input type="password" class="form-control" name="TXT_PASS" id="pass" placeholder="Clave">
                    </div>
                </div>
                <div class=" justify-content-center mt-3">
                    <div>
                        <button class="btn btnColor btn-block" type="submit">
                                Ingresar
                            </button>
                    </div>
                </div>
                <div class=" justify-content-center mt-3">
                    <div>
                        <a class="btn btnColor btn-block" href="{% url 'registro' %}">
                        Registrarse
                    </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
{% if messages %} {% for m in messages %}
<script>
    Swal.fire({
        icon: 'error',
        title: 'Error',
        text: '{{m}}',
        showConfirmButton: false,
        timer: 3000
    });
</script>

{% endfor %} {% endif %} {% endblock contenido %}