{% extends "core/base.html" %} {% load static %} {% block contenido %}
<h1>Contratar servicios</h1>

<h2 class="text-center">Ingresar datos</h2>

<div class="row">
    <div class="col border border-black">
        <form method="POST" class="ml-3 mr-3 mb-3 mt-3" onsubmit="return validacion()">
            {% csrf_token %}
            <h3>Datos empresa</h3>
            <div class="row p-2">
                <div class="form-group col-8">
                    <label>Nombre Empresa</label>
                    <input type="text" class="form-control" name="nombreEmpresa" id="nombreEmpresa" placeholder="Nombre Empresa">
                </div>
                <div class="form-group col-4">
                    <label>RUT Empresa</label>
                    <input type="text" class="form-control" name="rutEmpresa" id="rutEmpresa" placeholder="RUT Empresa">
                </div>

                <div class="form-group col-md-8">
                    <label>Direccion</label>
                    <input type="text" class="form-control" name="direccion" id="direccion" placeholder="Direccion Empresa">
                </div>
                <div class="form-group col-md-4">
                    <label>Celular</label>
                    <input type="text" class="form-control" name="telefono" id="telefono" placeholder="Celular Empresa">
                </div>
                <div class="form-group col-md-6">
                    <label>Region</label>
                    <select class="form-control" id="regiones" name="regiones">
                        <option value="0" selected hidden>Seleccione Region</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label>Comuna</label>
                    <select class="form-control" id="comunas" name="comunas">
                        <option value="0" selected>Seleccione Comuna</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label>Correo Electronico</label>
                    <input type="text" class="form-control" id="correo" name="correo" placeholder="Correo Electronico">
                </div>
                <div class="form-group col-md-6">
                    <label>Rubro Empresa</label>
                    <select class="form-control" id="rubros" name="rubros">
                        <option value="" selected>Seleccione Rubro</option>
                    </select> </div>
            </div>
            <div class="d-flex justify-content-center mt-3">
                <button class="btn btnColor btn-block" type="submit">
                    Ingresar Solicitud
                </button>
            </div>
            <div class="d-flex justify-content-center mt-3">
                <a class="btn btnColor btn-block" href="{% url 'login' %}">
                          Loggearse
                        </a>
            </div>
        </form>
    </div>
</div>
<script src="{% static 'core/js/jquery.min.js'%}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
{% if messages %} {% for m in messages %}
<script>
    Swal.fire({
        icon: 'success',
        title: 'Éxito',
        text: '{{m}}',
        showConfirmButton: false,
        timer: 3000
    });
</script>
{% endfor %} {% endif %}
<script>
    function validacion() {
        /* ---------------------------------------------------------- */
        nombreEmpresa = document.getElementById("nombreEmpresa").value;

        if (nombreEmpresa == null || nombreEmpresa.length == 0 || /^\s+$/.test(nombreEmpresa) || nombreEmpresa.length > 50) {
            Swal.fire({
                icon: 'warning',
                title: 'Oops...',
                text: 'Nombre no puede estar vacío ni superar los 50 caracteres.',
                showConfirmButton: false,
                timer: 3000
            });
            return false;
        }

        /* ---------------------------------------------------------- */
        rutCompleto = $('#rutEmpresa').val();

        if (!rutValid(rutCompleto)) {
            Swal.fire({
                icon: 'warning',
                title: 'Oops...',
                text: 'Rut debe tener formato 12345678-K',
                showConfirmButton: false,
                timer: 3000
            });
            return false;
        }
        const validaRutAsistente = (id) => {
            var cero = 0;
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                type: "GET",
                url: `http://127.0.0.1:8000/API/RUTEMPRESA/${id}`,
                dataType: 'json',
                async: false,
                success: function(res) {
                    var resultado = parseInt(res[0].RESULTADO);
                    if (resultado > 0) {
                        cero = 1;
                    } else {
                        cero = 0;
                    }
                },
                error: function(err) {
                    alert('error');
                }
            });
            return cero;
        };
        var rs = validaRutAsistente(rutCompleto);
        if (rs == 1) {
            Swal.fire({
                icon: 'error',
                title: 'Rut ya registrado',
                text: `El rut ${rutCompleto} ya se encuentra registrado en el sistema.`,
                showConfirmButton: false,
                timer: 3000
            });
            return false;
        }
        /* ---------------------------------------------------------- */
        direccion = document.getElementById("direccion").value;

        if (direccion == null || direccion.length == 0 || /^\s+$/.test(direccion) || direccion.length > 50) {
            Swal.fire({
                icon: 'warning',
                title: 'Oops...',
                text: 'Dirección no puede estar vacío ni superar los 50 caracteres.',
                showConfirmButton: false,
                timer: 3000
            });
            return false;
        }

        /* ---------------------------------------------------------- */
        telefono = document.getElementById("telefono").value;

        if (telefono == null || telefono.length == 0 || /^[0-9]\d$/.test(telefono) || telefono.length > 11 || telefono.length < 8) {
            Swal.fire({
                icon: 'warning',
                title: 'Oops...',
                text: 'Teléfono no puede estar vacío y tener 9 caracteres',
                showConfirmButton: false,
                timer: 3000
            });
            return false;
        }

        /* ---------------------------------------------------------- */
        correo = document.getElementById("correo").value;

        if (correo == null || correo.length == 0 || /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3,4})+$/.test(correo) || correo.length > 80) {
            Swal.fire({
                icon: 'warning',
                title: 'Oops...',
                text: 'Dirección de correo electrónico no puede estar vacío ni superar los 80 caracteres.',
                showConfirmButton: false,
                timer: 3000
            });
            return false;
        }

        /* ---------------------------------------------------------- */
        comunas = document.getElementById("comunas").value;

        if (comunas == null || comunas.length == 0 || /^[0-9]\d$/.test(comunas) || comunas.length > 12) {
            Swal.fire({
                icon: 'warning',
                title: 'Oops...',
                text: 'Comuna no puede estar vacía.',
                showConfirmButton: false,
                timer: 3000
            });
            return false;
        }

        /* ---------------------------------------------------------- */
        rubros = document.getElementById("rubros").value;

        if (rubros == null || rubros.length == 0 || /^[0-9]\d$/.test(rubros) || rubros.length > 12) {
            Swal.fire({
                icon: 'warning',
                title: 'Oops...',
                text: 'Rubro no puede estar vacío.',
                showConfirmButton: false,
                timer: 3000
            });
            return false;
        }


    };
</script>

{% endblock contenido %}